{% extends 'layout.html' %}

{% block title %}
    {{ super() }}Blog
{% endblock %}

{% block body %}
    <h1>Blog Page</h1>
    <div class="list-group">
        {% for p in posts %}
            <button type="button" class="list-group-item list-group-item-action">
                <!-- <a href="/blog/{{ p.id }}"> -->
                <a href="{{ url_for('blog.single', id=p.id) }}">
                    <span>{{ p.body }} @{{ p.created_on }}</span>
                </a>
            </button>
        {% endfor %}
    </div>
{% endblock %}